* {
    box-sizing: border-box;
}



body {
	 font-family: "Spectral", serif;
	 font-size: 17px;
	letter-spacing: 2px;
	background-color: #FFEBC9;

}
.logo {
	width: 100px;
	height: auto;
}


.main-content  {
	justify-content: center;
	display: flex;
}

.nav a {
	text-decoration: none;
	color: black;
	margin-right: 40px;
		font-size: 15px;
}

.left a {
	color: black;
}

.nav {
	text-align: center;
}

.video-container {
    margin: 30px 20px;       
    padding: 0 25px;
}

video {
	border-radius: 20px;
}

.an-uong {
	text-align: center;
	font-size: 20px;
}
.text p {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
}
.text a {
	color: black;
}

h1 {
	text-align: center;
	font-size: 20px;
}

/* code phần nhà hàng  */
.dining-left, .dining-mid , .dining-right {
	flex-direction: column; 
	width: 33%;
	padding-right: 1%;
	padding-top: 5%;
	display: flex;
}

.nha-hang {
	display: flex;
}

.nha-hang a {
	color: black;
}
h2 {
	font-size: 18px;
}

/* code phần event */
.event-left, .event-right {
	flex-direction: column; 
	width: 50%;
	padding-right: 1%;
	padding-top: 10%;
	display: flex;
}

.event {
	display: flex;

}


.event a {
	color: black;
}




ion-icon {
  font-size: 32px;
  padding: 0px 20px;
}

 .location {
	margin-left: 5%;
}

footer {
	display: flex;
    align-items: center;   
	padding: 50px 0px;
	background-color: white;
	
}


.anh-logo {
	margin: 5%;
}

.dia-chi p, .thong-tin p  {
    display: inline;
}

.thong-tin {
	margin-left: 10%;
}

.icon a {
	text-decoration: none;
}
.icon .fb {
	color: blue;
}

.icon .ig {
	color: #E1306C;
}
.icon .yt {
	color: red;
}

.icon .tiktok {
	color: black;
}